.uVersion {
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
  color: greenyellow;
  position: absolute;
  top: 5px;
  right: 100px;
}

div {
  display: flex;
  flex-direction: row;

}